body {
font-family: Arial;
background: linear-gradient(120deg,#0f172a,#1e293b);
color: white;
text-align: center;
}

.container {
max-width: 600px;
margin: auto;
padding: 20px;
}

input, select {
padding: 10px;
margin: 5px;
width: 80%;
}

button {
padding: 10px;
margin: 5px;
background: #38bdf8;
border: none;
cursor: pointer;
border-radius: 8px;
}

.card {
background: #111827;
padding: 10px;
margin: 10px;
border-radius: 10px;
}